; Connecting to Solr
solr_host = localhost
solr_port = 8080
solr_path = /solr/item

; Valid fields
; This should be the list of all valid fields in the Solr instance
; (We do this so that we can print error messages)
valid_params[] = id
valid_params[] = dpla.creator
valid_params[] = dpla.publisher
valid_params[] = dpla.format
valid_params[] = dpla.language
valid_params[] = dpla.page_count
valid_params[] = dpla.subject
valid_params[] = dpla.data_source
valid_params[] = dpla.resource_type
valid_params[] = dpla.dataset_tag

;Multi-valued fields
mulval_fields[] = dpla.creator
mulval_fields[] = dpla.description
mulval_fields[] = dpla.subject
mulval_fields[] = dpla.call_num
mulval_fields[] = dpla.id_isbn
mulval_fields[] = dpla.content_link

; Numeric fields:
; (These are things we can do Solr stats on)
numeric_fields[] = checkouts

; Default fields:
default_sort_field = checkouts